@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --color-dark: #030303; */
  --color-dark: rgb(18 24 27 / 1);
  --color-dark-glare: #171717;
  --color-mid: #444;
  --color-mid-glare: #ccc;
  --color-light: #fff;
  --color-light-shade: #f7f7f7;
  --color-primary: #ff006a;
  --color-primary-glare: #ffeff6;
  --color-secondary: #6e40c9;
  --color-tertiary: #00ffd4;
  --color-quaternary: #ffd501;
  --color-quinary: #00d5ff;
  --color-quinary-shade: #0ac;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light-shade);
  font-family: var(--mona);
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  /* height: 13px; */
  touch-action: none;
}

input[type="range"]::-moz-range-thumb {
  background: var(--color-light);
  border-radius: 24px;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

input[type="range"]::-moz-range-track {
  /* animate: 0.2s; */
  background: var(--color-light);
  cursor: pointer;
  height: 2px;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .from-gray5 {
    --tw-gradient-from: #454e56;
    --tw-gradient-to: rgb(69 78 86 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }

  .to-gray4 {
    --tw-gradient-to: #6c7983;
  }

  .bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
  }
}

@layer components {
  .btn-primary {
    @apply font-cubano bg-secondaryAccent hover:bg-primaryAccent text-white  py-2 px-4 rounded-md relative;
  }

  .wrapper {
    @apply w-wrapperWidth p-wrapperPadding mx-auto mb-16;
  }

  .stack {
    @apply flex flex-col gap-2;
  }
}
